body{
    background-color:#6dc51c;
}
h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

  }

form{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

table{
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;

}

td, th {
    color: white;
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }